<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Tonnetz – One Key, Many Representations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class=header>
            <div style="background: #b30469"></div>
            <div style="background: #822b9b"></div>
            <div style="background: #5053cd"></div>
            <div style="background: #1f7aff"></div>
            <div style="background: #258dab"></div>
            <div style="background: #2ba058"></div>
            <div style="background: #31b304"></div>
            <div style="background: #76a90d"></div>
            <div style="background: #e6bd00"></div>
            <div style="background: #ff941f"></div>
            <div style="background: #e66438"></div>
            <div style="background: #cc3450"></div>
        </div>

        <div id="proto">
            <h1 v-cloak>{{ strings.title }}</h1>
            <h2 v-cloak>{{ strings.subtitle }}</h2>
            <div v-cloak class="reset" @click="reset">{{ strings.reset }}</div>

            <div class="columns">
                <div class="col-1" v-cloak>
                    <static-view-svg v-bind:height="600" v-bind:width="1000">
                        <template v-slot="slotProps">
                            <tonnetz-plan v-if="type=='tonnetz'" v-bind:notes="notes" v-bind:intervals="intervals" :bounds="slotProps.bounds" :trace="trace"></tonnetz-plan>
                            <chicken-wire v-else v-bind:notes="notes" :bounds="slotProps.bounds" v-bind:intervals="intervals" :trace="trace"></chicken-wire>
                        </template>
                    </static-view-svg>

                    <!-- <drag-zoom-svg v-if="type=='tonnetz'" v-bind:height="400" v-bind:width="600" :scale-bounds="{mini:1,maxi:5}">
                        <template v-slot="slotProps">
                            <tonnetz-plan v-bind:notes="notes" v-bind:intervals="intervals" :bounds="slotProps.bounds" :trace="trace"></tonnetz-plan>
                        </template>
                    </drag-zoom-svg>
                    <drag-zoom-svg v-else v-bind:height="400" v-bind:width="600" :scale-bounds="{mini:1,maxi:5}">
                        <template v-slot="slotProps">
                            <chicken-wire v-bind:notes="notes" :bounds="slotProps.bounds" v-bind:intervals="intervals"></chickenwire>
                        </template>
                    </drag-zoom-svg> -->
                    <div class="button-row">
                    	<div class="options">
    	                    <button v-for="tonnetz in tonnetze" v-on:click="intervals=tonnetz" v-bind:class="{active:arrayEquals(tonnetz,intervals)}">{{ tonnetz.join(', ') }}</button>
    	                </div>
                    	<button v-on:click="type=(type === 'tonnetz' ? 'chicken' : 'tonnetz')" v-bind:class="{active: type=='chicken'}">{{ strings.dual }}</button>
                    </div>
                    <p class="warning" v-show="intervals.join('') === '228' || intervals.join('') === '246' || intervals.join('') === '336' || intervals.join('') === '444'">{{ strings.connected }}</p>
                </div>

                <div class="col-2" v-cloak>
                    <clock-octave v-bind:notes="notes" v-bind:height="400" v-bind:width="400" v-bind:intervals="1"></clock-octave>
                    <clock-octave v-bind:notes="notes" v-bind:height="400" v-bind:width="400" v-bind:intervals="7"></clock-octave>
                    <!-- <div class="key-selector">
                        <button v-bind:data-key="note.text" v-for="note in notes" v-on:click="note.count=1-note.count" v-bind:class="{activeNode: note.count>0}">{{ note.text }}</button>
                    </div> -->
                </div>
            </div>

            <div class="record" v-cloak>
                <button id=load v-on:click='modal = true'>{{ strings.load }}</button>
                <button v-if="SMF" id=btn v-on:click='playPause'> {{ player.playing ? strings.pause : strings.play }} </button>
                <button v-if="player.playing" id=stop @click="stop">{{ strings.stop }}</button>
                <button id=recordButton @click='recordToggle'>{{ recording ? strings.stop : strings.start }}</button>
                <button v-if="SMF" id=rotate @click='rotate'>{{ strings.rotate }}</button>
                <button v-if="SMF" id=translate @click='translate(1)'>{{ strings.translate }}</button>
                <!-- <button id=trace @click='traceToggle'>Tracing {{trace ? 'On' : 'Off'}}</button> -->
                <!-- <button id=reset @click='resetNotes'>Reset</button> -->
                <div class="modal-background" v-show="modal" v-on:click="modal = false"></div>
                <div class="modal" v-show="modal">
                    <!-- <p><input type=file id=file size=40 v-on:change='fromFile(); modal=false'></p>
                    <hr> -->
                    <template v-for="song in files">
                        <button @click="fromURL(song.fileName);modal = false;" class="song-select">
                            {{song.humanName}}
                        </button>
                        <br/>
                    </template>
                    <!-- <form v-on:submit.prevent='fromURL(); modal = false; return false;'>
                        <input type=text id=url value='https://jazz-soft.net/demo/midi/furelise.mid' size=80>
                        <button type=submit>Load from URL</button>
                    </form>
                    <hr>
                    <p><button v-on:click='fromBase64(); modal = false;'>Base64 Demo</button></p> -->
                </div>
            </div>
        </div>

        <div class="piano-wrap"><div id=piano></div></div>

        <script src="Redist/vue.min.js"></script>
        <script src="Redist/jzz.js"></script>
        <script src="Redist/MIDI.js"></script>
        <script src="Redist/JZZ.synth.MIDIjs.js"></script>
        <script src="Redist/jzz-synth-osc.js"></script>
        <script src="Redist/JZZ.synth.Tiny.js"></script>
        <script src="Redist/jzz-input-kbd.js"></script>
        <script src="Redist/jzz-midi-smf.js"></script>
        <script src="index.js"></script>
        <!--
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz"></script>
        <script src="https://jazz-soft.net//script/MIDI.js"></script>
        <script src="https://jazz-soft.net//script/JZZ.synth.MIDIjs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-synth-osc"></script>
        <script src="https://jazz-soft.net/script/JZZ.synth.Tiny.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-input-kbd"></script>
        <script src="https://cdn.jsdelivr.net/npm/jzz-midi-smf"></script>
        <script src="index.js"></script>
        -->
    </body>
</html>